/*killing the defaults*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general stuff*/
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/screenfix.png);
    background-size: 1200px;
    background-repeat: repeat;
}

/*dividing page in grid-areas; naming grid items by using the shorthand property
GRID-AREAS; allows to specify where to place an item*/
.gridAbts {
    grid-area: gridAbt;
}

.gridArt {
    grid-area: gridArt;
}

/*using gridLayout*/
.gridContainer {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-areas:
        'gridAbt gridAbt gridAbt gridAbt gridAbt gridAbt'
        'gridArt gridArt gridArt gridPic gridPic gridPic'
        'gridArt gridArt gridArt gridPic gridPic gridPic';
    grid-template-rows: 20% 60% 20%;
    grid-gap: 10px;
    height: 100vh;
    width: 100vw;
    background-image: url(../imgs/colorbackground1.png);
    background-size: cover;
    background-position: top;
    position: relative;
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .gridContainer {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        height: 148vh;
    }
}

@media only screen and (max-width: 37.5em) {
    .gridContainer {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 42vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 42vh, 0 100%);
    }
}

.gridAbts {
    grid-area: gridAbt;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    margin-top: 3px;
    padding-top: 10px;

}

.headingPrimary {
    color: #4d4d4d;
    grid-area: gridAbt;
    grid-template-columns: 100%;
    font-size: 2rem;
}

.headingAbout {
    color: #4d4d4d;
    grid-area: gridAbt;
    grid-template-columns: 100%;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.25rem;
    padding-top: 15px;
    text-align: center;
    display: inline-flex;
    letter-spacing: .2rem;
    transition: all .2s;
}

@media only screen and (max-width: 56.25em) {
    .headingAbout {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .headingAbout {
        font-size: 2.5rem;
    }
}

.headingAbout:hover {
    transform: skewY(2deg) skewX(30deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

/*.gridArt{
    grid-area: gridArt;
    margin: 30px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 50%;
    background-color: antiquewhite;
} 
article {
    color: #4d4d4d;
    grid-area: gridArt;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin:  15px 0px 0px;
}

.p1,
.p2 {
    margin: 15px 0px 0px;
    padding: 20px;
    line-height: 2.2rem;
    font-size: 1.2rem;
    font-weight: 200;
    display: inline-flex;
    text-justify: auto;
} */

/*******CARD HOVER STYLE PICTURE*****/

.container .card{
    position: relative;
    width: 600px;
    height: 400px;
}

.container .card .face{
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transform: translateX(600px);
}

.container .card:hover .face.face1{
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 600px;
}


/******************FACE 2*****************/
.container .card .face.face2 {
    position: relative;
    background-image: url(../imgs/screenfix.png);
    background-size: 1200px;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-sizing: border-box;
    transform: translateY(-208px);
    margin: 44,5px;
    padding: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 30px;
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content {
    margin: 10px;
    padding: 5px;
    height: 600px;
    width: 400px;
    text-align: center; 
}

.gridPic {
    grid-area: gridPic;
    margin: 10px;
    padding: 2px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 35px;
}

.gPic {
    grid-area: gridPic;
    margin: 10px;
    padding: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 30px;
}

:root {
    --maincolor: #4d4d4d;
    --subcolor: #1f3c49;
    font-family: 'Courier New', Courier, monospace;
}
.about{
    width: 100vw;
    height: 100vh;

}

.about > h3{
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    color: var(--subcolor);
    text-align: center;
    font-size: 2rem;
    background-color: #d8dd0a;
    
}

.members {
    display: grid;
    
    grid-template-columns: 25% 25% 25% auto;
    grid-row-gap: 20px;
    justify-content: center
    
}
.members > div{
    text-align: center;
    display: block;
    text-decoration: none;
    width: 15vw;
    color: var(--maincolor);
    padding: 10px 10px 20px 10px;
    border: 2px solid #BFBFBF;
    border-radius: 5px;
    background-color: white;
    position: relative;
    font-size: 1rem;
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
}
.members > div > .tip{
    visibility: hidden;
    position: absolute;
    bottom: 25%;
    left: 0%;
    width: 100%;
    background-color: aquamarine;
    border-radius: 5px

}
.members > div > img{
    margin: 0 0 15px;
    width: 100%;
    border-radius: 5px
}

.members > div:hover{
    border-color: #6A6A6A;
    cursor: pointer;
}
.members > div:hover > img{
    opacity: .4
}
.members > div:hover > .tip{
    visibility: visible;

}
.members > div:hover > p{
    display: block
}
.members > div:hover > .tip > a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: .75rem;
    line-height: 1.5rem
}
.members > div > .tip > a:hover{
    background-color: yellow
    
}



@media(max-width:767px) {/*for mobile phone*/

}

@media(min-width:768px) {/*for Tablets*/

}